body {
  background-image: url("../images/80 pop art.jpg")

}

h1 {
  background-color: #ee3e80;
  font-size: 40px;
  color: powderblue;
  border-radius:  20px;
}
h2 {
  background-color:  	#FF00FF;
  font-size: 30px;
  color: limegreen;
}
p {
  background-color:  	#00FFFF;
  font-family: verdana;
  color: white;
  font-size: 55px;
  /*this will give it the 80s feel*/
}
