body {
  background-image: url("../images/80 pop art.jpg")

}

h1 {
  background-color: #ee3e80;
  font-size: 40px;
  color: powderblue; 
  border-radius:  20px;
}

p {
  font-family: verdana;
  font-size: 20px;
}
