
h2 {
    color: #D99311;
   text-shadow: 2px 2px black;
}
h3 {
  position: absolute;
  bottom: 60px;
}

h4 {
  position: absolute;
  bottom: 30px;
}

.ex1 {
  /* this is the canvas for the IN */
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 600px;
  height: 600px;
  background-color: #A60F0F;
}

.ex2 {
  /* This is the I of the IN */
    position: absolute;
    left: 85px;
    width: 89px;
    height: 350px;
    box-shadow: -25px 25px;
    border-style: solid;
    border-color: #261C16;
    background-color: #D99311;
}

.ex3 {
  /* this is the middle part of the N */
  position: absolute;
  right: 1100px;
  width: 89px;
	height: 350px;
  box-shadow: -25px 25px;
	transform: skew(20deg);
  border-style: solid;
  border-color: #261C16;
  background-color: #D99311;
}

.ex4 {
  /* the frist part of the N */
  position: absolute;
  right: 1200px;
  width: 89px;
	height: 350px;
  box-shadow: -25px 25px;
  border-style: solid;
  border-color: #261C16;
  background-color: #D99311;
}

.ex5 {
  /* last part of the N */
  position: absolute;
  right: 1000px;
  width: 89px;
	height: 350px;
  box-shadow: -25px 25px ;
  z-index: -1;
  border-style: solid;
  border-color: #261C16;
  background-color: #D99311;
}
