body {
  background-image: url("../images/IMG_1907.jpg");
  position: inherit;
  background-position:center;
  background-attachment: fixed;
}

h1 {
  font-size: 85px;
  text-shadow: black 4px 4px;
  color: rgba(192,192,192,0.3);}
  position: first-letter;
  font-family: sans-serif;
}
h2 {
  font-family: monospace;
  text-shadow: black 4px 4px;
  color: rgba(192,192,192,0.3);}
}
li {
  float: left;
}

li a {
display: inline;
border-top:
 color: white;
 text-align:center;
 padding: 14px 16px;
 text-decoration: none;
}
li {
  font-family: monospace;
  font-size: 20px;
  color: white;
}
p, h4, h3 {
  font-size: 15px;
  color: black;
  text-shadow: white 3px 3px;
}
