body {
  background-image: url("../images/IMG_1907.jpg");
  position: inherit;
  background-position:center;
  background-attachment: fixed;
}

h1 {
  font-size: 85px;
  text-shadow: black 4px 4px;
  color: rgba(192,192,192,0.3);}
  position: first-letter;
  font-family: sans-serif;
}
h2 {
  font-family: monospace;
  text-shadow: black 4px 4px;
  color: rgba(192,192,192,0.3);}
}
nav-bar {
  font-family: monospace;
  font-size: 300px;
  text-shadow: black 4px 4px;
  color: rgba(192,192,192,0.3);}
}
