body {
  background-image: url("../images/IMG_1907.jpg");
  position: absolute;
  background-position:center;
  background-attachment: fixed;
}

h1 {
  font-size: 85px;
  font-family: sans-serif;
  font-stretch: ultra-expanded;
}

div {
  font-family: monospace;
  font-size: 30px;
  color: black;
}
